
.register-top-menu {
  border-radius: 0;
  margin-bottom: 0;
}

.register-top-menu form {
  margin-top: 1em;
}

.register-top-menu input {
  margin-right: 1em !important;
  padding-left: 5px !important;
  background-color: white;
}

.register-form-component input {
  padding-left: 5px !important;
  background-color: white;
}

.register-input-component small {
  height: 1.5em;
}

.register-input-component .success {
  color: #4caf50;
}

.register-input-component .error {
  color: #e51c23;
}