
body {
    background-color: #F8FFF0;
}

.top-menu-container {
    background-color: #4caf50;
}

.top-menu-container .navbar-brand {
    font-weight: bold;
    color: white;
}

.fixed-alert {
    position: fixed;
    top: 3.5em;
    right: 1em;
    width: 15em;
    min-height: 5em;
    max-height: 10em;

    padding: 1em;
    margin: 0.7em;

    border: 1px solid #4caf50;
    background-color: white;
}

.fixed-alert h1 {
    font-size: 16px;
    display: inline;
}

.fixed-alert p {
    font-size: 12px;
}

.fixed-alert-cross {
    position: relative;
    float: right;
    margin-top: -0.5em;
    margin-right: -0.3em;
}