
.top-menu-container {
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 3em;
}

.full-height {
  height: 100% !important;
}

.navbar-nav > li > a,
.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-brand {
  line-height: 1em;
  height: 1em;
  font-size: 16px;
  margin: 0;
}

.navbar {
  min-height: 0;
}

#topMenuNavbar {
  height: 100% !important;
}

.top-menu-search-form {
  margin-top: 0.5em;
  width: 30em;
  display: inline-block;
}

.top-menu-search-form .input-group {
  width: 100%;
  border-radius: 3px !important;
}

.top-menu-search-form input {
  height: 1.9em;
  padding-left: 4px !important;
  font-size: 14px !important;
  line-height: 16px;
  height: 23px !important;
  background-color: white;

  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  box-shadow: none !important;
}

.top-menu.top-menu-search-form textarea:focus,
.top-menu.top-menu-search-form input:focus {
  box-shadow: none !important;
}

.top-menu-search-form span {
  font-size: 12px;
  background-color: #E8FFF0;
  padding: 2px 2px;
  height: 23px;
  cursor: pointer;
}

.top-menu-right-container {
  margin-top: 0.6em;
}

.top-menu-right-container .nav-link-icon {
  font-weight: bold;
  color: #172 !important;
}

.top-menu-right-container .dropdown-menu {
  top: 31.5px;
}

.top-menu-right-container .show {
  background-color: white;
}