<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ecoboost - Promote ecologism</title>

  <link href="{{staticServer}}/static/styles/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{{staticServer}}/static/styles/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{{staticServer}}/static/styles/bootstrap-paper.min.css" rel="stylesheet" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{staticServer}}/static/styles/app/shared.css" />
  <link rel="stylesheet" type="text/css" href="{{staticServer}}/static/styles/app/site.css" />
</head>
<body>
  <div id="home-container"></div>

  <script src="{{staticServer}}/static/scripts/jquery-3.2.1.min.js"></script>
  <script src="{{staticServer}}/static/scripts/tether.min.js"></script>
  <script src="{{staticServer}}/static/scripts/bootstrap.min.js"></script>
  <script src="{{staticServer}}/static/scripts/js-cookie.js"></script>

  <script src="{{staticServer}}/static/scripts/handlers/ajax-handler.js"></script>
  <script src="{{staticServer}}/static/scripts/handlers/local-storage.js"></script>
  <script src="{{staticServer}}/static/scripts/handlers/constants.js"></script>

  <script src="{{staticServer}}/static/scripts/public/bundle.js"></script> 
</body>
</html>
