<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ecoboost - Promote ecologism</title>

  <link href="{{staticServer}}/static/styles/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{{staticServer}}/static/styles/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="{{staticServer}}/static/styles/bootstrap-paper.min.css" rel="stylesheet" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{staticServer}}/static/styles/app/shared.css" />
  <link rel="stylesheet" type="text/css" href="{{staticServer}}/static/styles/app/register.css" />

</head>
<body>
  <div id="register-container"></div>

  <script src="{{staticServer}}/static/scripts/jquery-3.2.1.min.js"></script>
  <script src="{{staticServer}}/static/scripts/tether.min.js"></script>
  <script src="{{staticServer}}/static/scripts/bootstrap.min.js"></script>
  <script src="{{staticServer}}/static/scripts/js-cookie.js"></script>

  <script src="{{staticServer}}/static/scripts/handlers/ajax-handler.js"></script>
  <script src="{{staticServer}}/static/scripts/handlers/local-storage.js"></script>
  <script src="{{staticServer}}/static/scripts/handlers/constants.js"></script>

  <script src="{{staticServer}}/static/scripts/public/bundle.js"></script>

  <!--
  <script type="text/babel" src="{{staticServer}}/static/scripts/app/shared/constants.jsx"></script>
  
  <script type="text/babel" src="{{staticServer}}/static/scripts/app/register/login-form.jsx"></script>
  <script type="text/babel" src="{{staticServer}}/static/scripts/app/register/register-input.jsx"></script>
  <script type="text/babel" src="{{staticServer}}/static/scripts/app/register/register-form.jsx"></script>
  <script type="text/babel" src="{{staticServer}}/static/scripts/app/register/register.jsx"></script>
  -->
</body>
</html>
